/* Color #E5E5E5 */


/* Core */
body{
    padding: 0;
    margin: 0;
    background-color: #EBECF0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Palanquin Dark', sans-serif;
}
main{
    display: grid;
    grid-template-rows: 15vh 15vh 20vh 30vh;
    grid-template-columns: 15vw 12vw 12vw 20vw;
}
section{
    margin: 10px;
    border-radius: 50px;
}
.gradient{
    background-color: red;
    background-image: linear-gradient(180deg, rgba(53,57,65,1) 10%, rgba(140,150,170,1) 70%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.neo_on{
    background: linear-gradient(145deg, #fbfdff, #d4d4d8);
    box-shadow:  10px 10px 25px #a2a3a6,
                 -10px -10px 25px #ffffff;
}
.neo_flat{
    background: #EBECF0;
    box-shadow:  10px 10px 20px #a2a3a6,
                 -10px -10px 20px #ffffff;
}
.neo_off, .neo_on:active, .neo_flat:active{
    background: #EBECF0;
    box-shadow: inset 0px 5px 10px #a2a3a6,
                inset 0px -5px 10px #ffffff;
}

/* Fleches */
.box_fleche{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box_fleche div{
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 2em;
    color: #8c8d92;
    cursor: pointer;
}

/* Menu 4 rectangles */
.box_menu{
    grid-area: 1/2/2/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_select{
    width: 18vw;
    height: 4vw;
    border-radius: 10px;
    background: linear-gradient(145deg, #fbfdff, #d4d4d8);
    box-shadow:  10px 10px 25px #a2a3a6,
                 -10px -10px 25px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_menu [type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.box_menu [type=radio]+label{
    width: 4.5vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #8c8d92;
}
.box_menu [type=radio] + label{
    cursor: pointer;
}
.box_menu [type=radio]:checked + label{
    background: linear-gradient(180deg, rgba(53,57,65,1) 10%, rgba(140,150,170,1) 50%);;
    color: #EBECF0;
}
.borderr1{
    border-radius: 10px 0px 0px 10px;
}
.borderr2{
    border-radius: 0px 10px 10px 0px;
}
.borderr{
    border-right: 1px solid #8c8d925b;
}
/* Barre de recherche */
.box_search{
    grid-area: 1/4/2/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_search div{
    width: 18vw;
    height: 4vw;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8c8d92;
    margin: 0 50px;
}
.box_search form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.zoom{
    margin: 0 20px;
}
.research{
    border: none;
    background-color: transparent;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1em;
    width: 13vw;
}
.research:focus{
    outline: none;
}

/* Btn cercle */
.box_point{
    grid-area: 2/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_point div{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #8c8d92;
    cursor: pointer;
}

/* Button */
.box_button{
    grid-area: 2/2/3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_button div{
    width: 18vw;
    height: 4vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #8c8d92;
    cursor: pointer;
}

/* Btn Male/Female */
.box_genre{
    grid-area: 2/4/3/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle {
    position: relative;
    display: inline-block;
    width: 18vw;
    height: 4vw;
    border-radius: 30px;
    cursor: pointer;
    background: #EBECF0;
    box-shadow: inset 0px 5px 10px #a2a3a6,
    inset 0px -5px 10px #ffffff;
}
.toggle input {
    display: none;
}
.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 9vw;
    height: 4vw;
    border-radius: 30px;
    background-color: #2C39F6;
    transition: all 0.4s ease-in-out;
}
.toggle input:checked+.slider::before {
    transform: translate(9vw);
}

.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5em;

}
.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 30px;
    color: #8c8d92;
    transition: all 0.4s ease-in-out;
}
.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 45px;
    color: #EBECF0;
    transition: all 0.4s ease-in-out;
}
.toggle input:checked~.labels::after {
    color: #EBECF0;
}
.toggle input:checked~.labels::before {
    color: #8c8d92;
}

/* Btn Maison */
.box_maison{
    grid-area: 3/1/4/3;
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
}
.box_maison div{
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 50%;
    cursor: pointer;
}

/* Btn scan/stop */
.box_scan{
    grid-area: 3/4/4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_scan div{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C39F6;
    cursor: pointer;
}

/* 2 Barre  */
.box_barre{
    grid-area: 4/1/5/4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.box_barre div{
    width: 80%;
    height: 2vw;
    border-radius: 20px;
}
.scroll{
    background: #EBECF0;
    box-shadow:  10px 10px 20px #a2a3a6,
                 -10px -10px 20px #ffffff;
}

/* Carré Aa */
.box_aa{
    grid-area: 4/4/5/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_aa div{
    width: 11vw;
    height: 11vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #2C39F6;
    background: linear-gradient(145deg, #fbfdff, #d4d4d8);
    box-shadow:  10px 10px 25px #a2a3a6,
                 -10px -10px 25px #ffffff;
}